.all-news {
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  overflow-y: auto;

  display: none;
  &--active {
    display: block;
  }
  &__wrapper {
    margin: auto;
    @include adaptiv-value-to-end("margin-top", 81, 56, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("margin-top", 56, 40, $mdTable-noPX, 420);
    @include adaptiv-value-to-end("margin-bottom", 81, 56, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("margin-bottom", 56, 40, $mdTable-noPX, 420);
    @include adaptiv-value-to-end("padding-top", 81, 56, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-top", 56, 40, $mdTable-noPX, 420);
    @include adaptiv-value-to-end("padding-left", 70, 48, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-left", 48, 20, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-right", 70, 48, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-right", 48, 20, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-bottom", 88, 72, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-bottom", 72, 30, $mdTable-noPX, 320);

    @include adaptiv-value-to-end("width", 1248, 968, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("width", 968, 300, $mdTable-noPX, 320);
    background-color: rgba($blue, 1);
    border-radius: 10px;
    position: relative;
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    @include adaptiv-value-to-end("top", 50, 40, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("top", 40, 24, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("right", 50, 40, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("right", 40, 24, $mdTable-noPX, 320);
    border: none;
    background: transparent url(../images/icons/close-white.svg) center / cover no-repeat;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: rotate(90deg);
    }
  }

  &__title {
    @include adaptiv-value-to-end("margin-bottom", 90, 72, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("margin-bottom", 72, 48, $mdTable-noPX, 420);
    font-size: 40px;
    @include adaptiv-value-to("font-size", 40, 35, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("font-size", 35, 27, $mdTable-noPX, 420);
    letter-spacing: -0.03em;
    color: #ffffff;
  }

  &__items {
    @include adaptiv-value-to-end("margin-bottom", 72, 64, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("margin-bottom", 64, 40, $mdTable-noPX, 420);
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiv-value-to("gap", 10, 6, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("gap", 6, 4, $mdTable-noPX, 420);
    @media (max-width: $md2) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiv-value-to-end("padding-top", 45, 36, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-top", 36, 31, $mdTable-noPX, 420);
    @include adaptiv-value-to-end("padding-left", 38, 32, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-left", 32, 25, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-right", 38, 32, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-right", 32, 25, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-bottom", 45, 36, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-bottom", 36, 31, $mdTable-noPX, 420);

    @include adaptiv-value-to-end("min-height", 397, 344, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("min-height", 344, 307, $mdTable-noPX, 420);
    background-color: $white;
    @media (max-width: $md2) {
      &:last-child {
        display: none;
      }
    }
  }

  &__item-title {
    margin-bottom: 24px;
    font-family: "RF Dewi Expanded";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    @include adaptiv-value-to("font-size", 24, 20, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("font-size", 20, 15, $mdTable-noPX, 320);
    color: #000000;
  }

  &__item-text {
    flex-grow: 1;
    @include adaptiv-value-to("font-size", 14, 13, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("font-size", 13, 12, $mdTable-noPX, 420);
  }

  &__item-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__item-data {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    @include adaptiv-value-to-end("font-size", 12, 11, $containerAdaptiv, $mdTable-noPX);
    color: #000000;
  }

  &__item-btn {
    padding: 0;
    @include adaptiv-value-to-end("padding-right", 97, 60, $containerAdaptiv, $mdTable-noPX);
    border: none;
    background-color: transparent;
    position: relative;
    & span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      @include adaptiv-value-to("font-size", 18, 17, $containerAdaptiv, $mdTable-noPX);
      @include adaptiv-value-noStart-to-end("font-size", 17, 13, $mdTable-noPX, 320);
      color: #4c5c6b;
      transition: 0.3s all;
    }
    &::after {
      position: absolute;
      content: "";
      @include adaptiv-value-to-end("width", 73, 50, $containerAdaptiv, $mdTable-noPX);
      @include adaptiv-value-to-end("height", 73, 50, $containerAdaptiv, $mdTable-noPX);
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: transparent;
      background-image: url(../images/icons/arrow-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      @include adaptiv-value-to-end("background-size", 30, 20, $containerAdaptiv, $mdTable-noPX);
      transition: 0.3s all;
    }
    @media (min-width: $mdTable) {
      &:hover {
        cursor: pointer;
        & span {
          color: $acsent;
        }
        &::after {
          background-image: url(../images/icons/arrow-white.svg);
          background-color: $acsent;
        }
      }
    }
    @media (max-width: $mdTable) {
      & span {
        color: $acsent;
      }
      &::after {
        background-color: $acsent;
        background-image: url(../images/icons/arrow-white.svg);
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 316px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    & span {
      padding-right: 37px;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: #ffffff;
      background: url(../images/icons/btn-icon-down.svg) right center no-repeat;
    }
  }
}
