.modal-contact {
  position: fixed;
  z-index: 60;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  overflow-y: auto;
  display: none;
  &--active {
    display: flex;
  }
  &__wrapper {
    margin: 50px auto;
    @include adaptiv-value-to-end("width", 1248, 968, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("width", 968, 300, $mdTable-noPX, 320);

    @include adaptiv-value-to-end("padding-top", 84, 57, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-top", 57, 40, $mdTable-noPX, 420);
    @include adaptiv-value-to-end("padding-left", 70, 48, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-left", 48, 20, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-right", 70, 48, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-right", 48, 20, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("padding-bottom", 95, 64, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("padding-bottom", 64, 40, $mdTable-noPX, 320);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  &__closed {
    position: absolute;
    // top: 55px;
    // right: 50px;
    width: 20px;
    height: 20px;
    @include adaptiv-value-to-end("top", 50, 40, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("top", 40, 24, $mdTable-noPX, 320);
    @include adaptiv-value-to-end("right", 50, 40, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("right", 40, 24, $mdTable-noPX, 320);
    border: none;
    background: transparent url(../images/icons/close.svg) center / cover no-repeat;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: rotate(90deg);
    }
  }

  &__title {
    @include adaptiv-value-to-end("margin-bottom", 70, 52, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("margin-bottom", 52, 10, $mdTable-noPX, 320);
    @include adaptiv-value-to("font-size", 40, 35, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("font-size", 35, 25, $mdTable-noPX, 320);
  }

  &__items {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    @include adaptiv-value-to("font-size", 18, 17, $containerAdaptiv, $mdTable-noPX);
    @include adaptiv-value-noStart-to-end("font-size", 17, 13, $mdTable-noPX, 320);
    line-height: 1.67;
    letter-spacing: 0.015em;
  }

  &__item {
    display: flex;
    padding: 23px 0;
    border-bottom: 1px solid rgba(76, 92, 107, 0.08);
    &:last-child {
      border-bottom: none;
    }
    @media (max-width: $md2) {
      display: block;
    }
  }

  &__name,
  &__discription {
    width: 50%;
    @media (max-width: $md2) {
      width: 100%;
    }
  }

  &__name {
    color: #9c9c9c;
    @media (max-width: $md2) {
      margin-bottom: 8px;
    }
  }

  &__discription {
    color: #1c1c1c;
  }
}
